server:
  port: 8080
spring:
  application:
    name: special
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://8.136.0.187:3306/special?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8&autoReconnect=true
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: false
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  mapper-locations: classpath*:/mappers/*.xml
  type-aliases-package: com.wf.**.entry
  global-config:
    db-config:
      db-type: mysql
      id-type: uuid
logging:
  level:
    com.wf.mapper : debug